<div class="container" >
    <div class="heading">
        <p>Giỏ hàng của bạn<p>
    </div>
    <div class="content" *ngFor="let item of this.shoppingcart.cart">
        <div class="product">
            <div class="photo-product">
                 <img [src]="item.image">
            </div>
            <div class="product-name">
                <h2>{{item.product_name}}</h2>
                <p>{{item.price}}</p>
                <div class="quantity">
                    <button>+</button>
                    <p>{{item.quantity}}</p>
                    <button>-</button>
                </div>
            </div>
            <div class="total-price">
                <span>Thành tiền</span>
                <p>{{item.price*item.quantity}} VNĐ</p>
            </div>
            <button (click)="this.shoppingcart.amount()" class="assert">Xác nhận</button>
        </div>
    </div>
    <div *ngIf="this.shoppingcart.cart.length != 0">
        <div class="order-card-block">
        <p>Thông tin đơn hàng</p>
        <p>Tổng tiền:{{this.shoppingcart.total}} VNĐ</p>
        <button>Thanh Toán</button>
    </div>
    </div>

</div>
