

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200&display=swap');
.container{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    background-color: #F3F5F6;;
}

.heading{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.heading p{
    margin-top: 5%;
    color: #002F49;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.heading::after{
    content: "";
    background: #252a2b;
    display: block;
    width: 150px;
    height: 4px;
    margin: 25px auto 0;
}
.content{
    width: 776px;
    height: auto;
    padding: 20px;
    background-color: #fefefe;
    
}
.product{
    display: flex;
    border-bottom: 1px solid #ABAFB2;
}
.product-name{
    padding: 15px;
    width: 30rem;
    
}

.photo-product{
    padding: 15px;
    width: 100px;
    height: 100px;
}
.photo-product img{
    width: 100px;
    height: 100px;
}
.quantity{
    width: 80px;
    display: flex;
    
}
.quantity button{
    background-color: #fefefe;
    color: #ABAFB2;
    border:0.5px solid #EDEDED;
    width: 25px;
    height: 25px;
}
.quantity p{
    margin: 0 0 0 0;
    width: 40px;
    height: 25px;
    color: #9e9d99;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-price{
    padding: 15px;
    width: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-card-block{
    display: block;
}
.order-card-block button{
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    padding: 10px 40px 10px 40px; 
    background-color: #abafb2;
}
.order-card-block button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(119, 173, 243);
}
.assert{
        font-size: 20px;
        border: none;
        border-radius: 15px;
        margin: 5% 50%;
        width: 150px;
        height: 50px;
        background-color: #ABAFB2;
}
.assert:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(119, 173, 243);
}