    <div class="header">
    <div class="left">
       <div class="logo">
        <a [routerLink]="['']"><img  src="../../../assets/photo/shop_dt (1).png" ></a>
      </div>
      <div class="menu">
        <li>Categories</li>
        <li>Deals</li>
        <li>What's New</li>
        <li>Policy Warranty</li>
        <li>Help</li>
      </div>
    </div>
      <div class="header-right">
        <input type="text" placeholder="Search....">
        <p>Eng</p>
        <p>Login</p>
        <mat-icon (click)="navagiteToCart()">add_shopping_cart</mat-icon>
      </div>
    </div>
