    <div class="header">
    <div class="left">
       <div class="logo">
        <img src="../../../assets/photo/shop_dt (1).png">
      </div>
      <div class="menu">
        <li>Categories</li>
        <li>Deals</li>
        <li>What's New</li>
        <li>Policy Warranty</li>
        <li>Help</li>
      </div>
    </div>
      <div class="header-right">
        <input type="text" placeholder="Search....">
        <p>Eng</p>
        <p>Login</p>
      </div>
    </div>
<div class="sales">
  <section id="slide">
    <div class="container-slide">
      <!-- <div class="delete"></div> -->
      <img src="https://file.hstatic.net/1000129940/collection/phim_custom_d94c52e03fe74d09a0042099d5d9dafb.jpg">
      <!-- <img src="https://i1-sohoa.vnecdn.net/2022/01/12/DSC6568-1641990320.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=skJzVOYR2js7WqY3gYt7Eg">  -->
    </div>
  </section>
</div>   