.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.product{
    margin: 5px 5px 5px 5px;
    width: 18%;
    height: 290px;
    padding: 5px 5px 5px 5px;
    // background-color: #E6E8EC;
    display: flex;
    background-color: #fefefe;
    border-radius: 5px;
    border: 1px solid #E1E3E4;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // display: grid;
    // grid-gap: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.product:hover{
    transition: 0.5s;
    border: 2px solid #000;
}
.image-product{
    max-width: 100%;
    height: 190px;
    background-color: aqua;
    align-items: center;
    // background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    // display: ;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.image-product img{
    max-width: 100%;
    height: 190px;
    object-fit: cover;
    width: 100%;
}
.information-product{
    width: 100%;
    height: 100px;
    background-color: white;
}
.name-product p{
    padding: 10px 4px 9px 4px;
    font-size: 14px;
    font-weight: bolder;
}
.sell{
    padding: 10px 5px 9px 5px ;
    display: flex;
    justify-content: space-between;
}
.sell p{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 13.5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .sales{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}
.sales img{
    height: 400px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.name-product button{
    height: 34px;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5c96bc;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
}
